
<div class="container">
    <div class="page-header">
        <h1>Users</h1>
    </div>      
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div *ngIf="description; then noDesc else showDesc"></div>
            <ng-template #showDesc>The original team consisted of Iron Man, Captain America, Hulk, Thor, Black Widow and Hawkeye in The Avengers.</ng-template>
            <ng-template #noDesc>No description.</ng-template>
        </div>
        <div class="col-xs-12 col-sm-3">
            <button class="btn btn-primary" (click)="toggleFlag()">Toggle Description</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div *ngFor="let user of users" class="col-xs-12 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">{{user.name}}</div>
                </div>
                <div class="panel-body">
                    <p><small>Character Name: </small><span class="text-bold">{{user.character}}</span></p>
                    <p><small>Age: </small><span class="text-bold">{{user.age}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>